<ng-container
  *ngIf="{ selectedTodo: (todoSrv.selectedTodo$ | async) } as context"
>
  <div
    *ngIf="context.selectedTodo"
    class="min-w-[400px] max-w-lg bg-red-600 p-4"
  >
    <form
      class="bg-slate-100 p-4 rounded-md"
      [formGroup]="todoFormGroup"
      (submit)="submitHandler()"
    >
      <div class="flex justify-end">
        <p-button
          icon="pi pi-times"
          styleClass="p-button-rounded p-button-secondary p-button-text"
          (onClick)="todoSrv.setSelectedTodo()"
        ></p-button>
      </div>

      <h1 class="font-bold text-2xl">TODO:</h1>

      <div class="my-2">
        <input
          type="text"
          pInputText
          [maxlength]="TITLE_MAX_LENGTH"
          formControlName="title"
          placeholder="Ingresar título"
          class="p-inputtext-sm w-full"
        />
      </div>

      <div class="my-2">
        <textarea
          formControlName="description"
          rows="5"
          cols="30"
          pInputTextarea
          class="w-full resize-none"
          placeholder="Ingresar descripción"
        ></textarea>
      </div>

      <div class="flex gap-2">
        <p-button
          label="Eliminar"
          class="flex-1"
          styleClass="p-button-danger w-full"
          (onClick)="deleteTodo()"
        ></p-button>

        <p-button
          type="submit"
          [disabled]="!todoFormGroup.valid"
          [loading]="loading"
          label="Guardar"
          class="flex-1"
          styleClass="w-full"
        ></p-button>
      </div>
    </form>
  </div>
</ng-container>
